/* -------------------- footer style -------------------------------- */
footer{
    color:gray;
    padding:2px 0px 10px 0px;
    font-size:10px;
    border-top:3px solid rgb(219, 219, 219);
}

#back-top{
    color:gray;
    text-decoration: none;
    font-size:13px;
}

#bt-p{
    text-align: center;
    margin-top:0;
    padding-top:0;
}

#foot-table td, #foot-table th{
    padding:8px;
}

.foot-link{
    text-decoration: none;
    color:gray;
}

#term{
    font-size:12px;
}

#copyright{
    text-align:center;
}
/* -------------- responsive style of tablet portrait --------------- */
@media only screen and (min-width:760px){

/* ------------------- footer style --------------------------- */
footer{
    font-size:16px;
    padding:10px 50px;
}

#back-top{
    font-size:17px;
}

#foot-table td, #foot-table th{
    padding: 5px 30px
}

#term{
    margin:0px 30px;
    font-size:16px;
}

}

/* -------------- responsive style of tablet landscape and laptop--------- */
@media only screen and (min-width:980px){

 /* ---------------- footer style ------------------------ */
 #foot-table td, #foot-table th{
    padding:5px 40px
}

}